/*responsive document*/

@media screen and (max-width: 975px){

      .navegador{
            display: none;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            background-color: white;
            position: fixed;
            z-index: 400;
            top: 0;
            right: 0;
            width: 310px;
            height: 100%;
      }
      .navegador div:last-child{
            width: 95%;
            height: 75%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            padding: 0;
      }
      .navegador div button{
            border: none;
            width: 100%;
            padding: 1em;
            border-radius: 0.3rem;
            background-color: transparent;
      }
      .navegador div:last-child button a{
            font-size: 2.4em;
            letter-spacing: 0.03em;
            font-family: 'Barlow', sans-serif;
            color: rgba(0, 0, 0, 0.483);
            text-decoration: none;
      }
      .navegador div button:hover{
            background-color: hsl(51, 100%, 67%);
      }
      .navegador div button:hover a{
            color: black;
      }
      .close{
            width: 95%;
            color: black;
            text-align: right;
      }
      .close i{
            cursor: pointer;
            font-size: 1.5rem;
            margin-right: 0.8em;
      }
      .amburger{

            display: inline;
      }
      header .top nav{

            display: none;
      }
      article .info{

            padding: 1.8rem;
      }
      .down .letras{

            padding: 0 1rem;
      }
      .client div{

            padding: 0 1rem;
      }
}

@media screen and (max-width: 856px){

      header{

            background-image: url(imagenes/mobile/image-header.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
      }
      article section{

            flex-direction: column-reverse;
      }
      article .randome{

            flex-direction: column;
      }
      article section div{

            width: 100%;
      }
      article .info{

            width: 62%;
            height: 30rem;
      }
      article .info p{

            flex-grow: 0;
            margin-bottom: 1.3rem;
      }
      .client{

            flex-direction: column;
      }
      .client div{

            width: 60%;
            text-align: center;
      }
      .four-photos div{

            width: 50%;
      }

      footer div{

            width: 77%;
      }
      footer div:last-of-type{
            width: 50%;
      }
}
@media screen and (max-width: 518px){

      header .titulo{

            font-size: 1.5rem;
            margin-top: 6rem;
      }
      article .info{

            width: 76%;
            height: 30rem;
      }
      .client div{

            width: 75%;
      }
}
@media screen and (max-width: 375px){

      header .titulo{

            font-size: 1.2rem;
      }
      article .info{

            width: 86%;
      }
      .client div{

            width: 85%;
      }
      .down .letras{

            position: absolute;
            bottom: 10px;
            left: 35px;
            width: 85%;
      }
      footer div{

            width: 87%;
      }
      footer div:last-of-type{
            width: 60%;
      }
}
@media screen and (max-width: 320px){

      header .titulo{

            font-size: .93rem;
      }
      article .info{

            width: 96%;
      }
      .client div{

            width: 85%;
      }
      .down .letras{

            position: absolute;
            left: 15px;
            width: 90%;
      }
      footer div{

            width: 95%;
      }
      footer div:last-of-type{
            width: 70%;
      }
}