/*responsive document*/

@media screen and (max-width: 975px){

      .navegador{

            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: white;
            border-radius: 1rem 0 0 1rem;
            position: absolute;
            top: 0;
            right: 0;
            width: 22rem;
            height: 100%;
      }
      .navegador div{

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0;
      }
      .navegador div button{

            border: none;
            width: 100%;
            margin: 2rem 0 2rem 0;
            border-radius: 1rem;
            background-color: transparent;
            height: 5rem;
      }
      .navegador div button:hover{

            background-color: hsl(51, 100%, 67%);
            text-transform: uppercase;
            color: black;
      }
      .navegador div button a:hover{

            color: black;
      }
      .close{

            color: black;
            position: absolute;
            top: 30px;
            right: 100px;
      }.close i{

            font-size: 2.5rem;
      }
      .navegador div a{

            text-decoration: none;
            color: black;
            font-family: 'Barlow', sans-serif;
            font-size: 2.5rem;
            color: rgba(0, 0, 0, 0.483);
      }
      .amburger{

            display: inline;
      }
      header .top nav{

            display: none;
      }
      article .info{

            padding: 1.8rem;
      }
      .down .letras{

            padding: 0 1rem;
      }
      .client div{

            padding: 0 1rem;
      }
}

@media screen and (max-width: 856px){

      header{

            background-image: url(imagenes/mobile/image-header.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
      }
      article section{

            flex-direction: column-reverse;
      }
      article .randome{

            flex-direction: column;
      }
      article section div{

            width: 100%;
      }
      article .info{

            width: 62%;
            height: 30rem;
      }
      article .info p{

            flex-grow: 0;
            margin-bottom: 1.3rem;
      }
      .client{

            flex-direction: column;
      }
      .client div{

            width: 60%;
            text-align: center;
      }
      .four-photos div{

            width: 50%;
      }

      footer div{

            width: 77%;
      }
      footer div:last-of-type{
            width: 50%;
      }
}
@media screen and (max-width: 518px){

      header .titulo{

            font-size: 1.5rem;
            margin-top: 6rem;
      }
      article .info{

            width: 76%;
            height: 30rem;
      }
      .client div{

            width: 75%;
      }
}
@media screen and (max-width: 375px){

      header .titulo{

            font-size: 1.2rem;
      }
      article .info{

            width: 86%;
      }
      .client div{

            width: 85%;
      }
      .down .letras{

            position: absolute;
            bottom: 10px;
            left: 35px;
            width: 85%;
      }
      footer div{

            width: 87%;
      }
      footer div:last-of-type{
            width: 60%;
      }
}
@media screen and (max-width: 320px){

      header .titulo{

            font-size: .93rem;
      }
      article .info{

            width: 96%;
      }
      .client div{

            width: 85%;
      }
      .down .letras{

            position: absolute;
            left: 15px;
            width: 90%;
      }
      footer div{

            width: 95%;
      }
      footer div:last-of-type{
            width: 70%;
      }
}